extends layout

block content
  h1= title
  p Welcome to NorthWest Missouri State University
  button(type="button", class="btn btn-secondary", id="button", onclick="goFaster()") Press Me
  br
  #faster Increase the speed
  br
  script.
    var mph = 20;
    var change = 1;
    function goFaster(){
      mph = mph + change;
      change = change + 1;
      document.getElementById('faster').textContent = `MPH ${mph} with change ${change}`
    }
  a(href="/dress") View dress